<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/airport-web-server/src/main/java/helsinki/dev_mod/util/PopulateDb.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="helsinki.dev_mod.util.PopulateDb"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="airport-web-server"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="airport-web-server"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlog4j.configurationFile=src/main/resources/log4j2.xml&#10;-Djava.system.class.loader=ua.com.fielden.platform.classloader.TgSystemClassLoader&#10;--add-opens java.base/java.lang=ALL-UNNAMED"/>
</launchConfiguration>
